.ThumbnailWrapper {
    text-align: left;
    width: 500px;
    height: 275px;
    overflow: hidden;
}

.ThumbnailWrapper:hover {
    cursor: pointer;
}

.ThumbnailWrapper .DescriptionBox {
    background-color: rgba(255, 255, 255, 0.93);
    height: 330px;
    bottom: 48%;
    border-radius: 20px 20px 0 0;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out 25ms;
}

.ThumbnailWrapper .DescriptionBox p {
    font-size: 18px !important;
    text-align: left !important;
    padding: 1rem;
}