.Thumbnails {
    text-align: left;
}

.Thumbnails img {
    width: 500px;
    height: 275px;
    border-radius: 15px 15px 15px 15px;
    border: 1.5px solid black;
    object-fit: cover;
}

.video-responsive iframe{
    padding-top: 30px;
    width: 750px;
    height: 422px;
}