.ContactButton {
    background: rgb(4, 132, 204);
    color: rgb(255, 255, 255);
    font-size: 0.1rem;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    width: 100%;
    border: 0px;
    border-radius: 8px;
    height: 60px;
    outline: none;
    cursor: pointer;
    max-width: 200px;
    float: left;
}

.ContactButton p {
    display: inline;
}

.ContactButton i {
    color: #ffffff;
    /* justify-content: center; */
}