.ProfileTop {
    display: flex;
    justify-content: space-evenly; 
    margin-left: auto;
    margin-right: auto;
    align-items: stretch; 
    padding-bottom: 100px;
}

.ProfileTop .ant-col {
    margin-right: 0 !important;
}

.ProfileTop img {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    margin-left: 27%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.ProfileTop .Texts {
    text-align: left;
    margin-left: 45px;
}

.ProfileTop .Title {
    color: rgba(0,0,0,.85);
    font-weight: 500.3;
    font-size: 30px;
    font-family: Ubuntu, sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 80px;
    margin-bottom: 50px;
}

.ProfileTop .Description {
    color: #00000073;
    font-size: 27px;
}

.ProfileSneaks {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 40px;
    border-top: 1.5px solid #CDD1D4;
}
